    .col-9{
        background-color: rgba(85,107,47);
    }
    body{
        background: rgba(107,142,35);
    }
    
    .img1{
        float:center;
        margin: 10px;
        margin-left:10%;
        width: 200px;
        weight: 200px;
    }
     .img2{
        float:center;
        margin: 10px;
        margin-left:25%;
        width: 400px;
        weight: 400px;
    }
    .img3{
        float:center;
        margin: 10px;
        margin-left:25%;
        width: 450px;
        weight: 450px;
    }
    .img4{
        float:center;
        margin: 10px;
        margin-left:25%;
        width: 400px;
        weight: 400px;
    }
    .img5{
        float:center;
        margin: 10px;
        margin-left:25%;
        width: 400px;
        weight: 400px;
    }
    h1, h2, h3, h4{
            text-align: center;
            font-family: 'Grenze Gotisch', cursive;
        }